@import 'animations';
@import 'variables';

// ----------------------------------Layout------------------------------------
//-----------------GlobalLayout
.GlobalLayout {
  margin: 0px;
  padding: 0px;

  header {
    margin: 0;
    height: $headerHeight;
    padding: 0px;
    background-color: transparent;
    font-family: 'Inter';
  }

  footer {
    height: $footerHeight;
    padding: 0px;
    background-color: #48494a;
    font-family: 'Inter';
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .sb-footer {
      position: static;
      font-size: 14px;
    }
  }

  main {
    font-family: 'Inter';
    font-size: 16px;
    > div:first-child {
      min-height: calc(100vh - ($headerHeight + $footerHeight));
    }
  }
}
